<% @page_title = "Complaint" %>

<%= link_to("<< Back to List", {:action => 'index'}) %>

<div >
  <h2>Update Complaint</h2>

  <%= form_for(:complaint, :url => {:action => 'update', :id => @complaint.company},:class => "form-horizontal center") do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div >
      <%= submit_tag("Update Complaint
      ") %>
    </div>

  <% end %>
</div>
