<% @page_title = "New Contact" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div >
  <h2>Create Contact</h2>

  <%= form_for(:contact, :url => {:action => 'create'},:class => "form-horizontal center") do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div >
      <%= submit_tag("Create company") %>
    </div>

  <% end %>
</div>
