<% @page_title = "Delete Account" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div >
  <h2>Delete Account</h2>

  <%= form_for(:account, :url => {:action => 'destroy', :id => @account.id}) do |f| %>

    <p>Are you sure you want to permanently delete this account?</p>

    <p ><%= @account.company%></p>

    <div >
      <%= submit_tag("Delete Account") %>
    </div>

  <% end %>
</div>
